In [1]:
# 设置从数据库获取表格的函数
import pandas as pd
import pymysql

host = "121.37.185.35"
port = 8306
user = "root"
password = "root"
database = "bilibili"

conn = pymysql.connect (
    host=host,
    user=user,
    password=password,
    port=port,
    database=database
)

def get_table_content(table_name,index_col=None):
    sql = f'select * from {table_name}'
    try:
        df = pd.read_sql (sql, con=conn,index_col=index_col)
    except Exception as e:
        print(e)
        return False
    return df

In [3]:
# 获取所有表格数据
vinfo = get_table_content("vinfo","aid")
aid_hotword = get_table_content("aid_hotword","aid")
aid_tag = get_table_content("aid_tag")
follower = get_table_content("follower")
hotword = get_table_content("hotword")
userinfo = get_table_content("userinfo","uid")
vresult = get_table_content("vresult")

In [5]:
follower.describe()

                uid  follower_num
count  3.683000e+03  3.683000e+03
mean   1.261970e+08  1.189160e+05
std    1.722074e+08  5.715291e+05
min    1.531200e+04  0.000000e+00
25%    5.173955e+06  8.500000e+01
50%    2.455171e+07  2.647000e+03
75%    2.483359e+08  3.188200e+04
max    6.033215e+08  8.423534e+06

In [6]:
vresult.describe()

,aid,view,reply,coin,like,dislike,favorite,danmaku
count,1.578800e+04,1.578800e+04,15788.000000,1.578800e+04,1.578800e+04,15788.0,1.578800e+04,1.578800e+04
mean,4.911807e+08,3.099318e+05,875.061439,1.502981e+04,2.389325e+04,0.0,1.315588e+04,3.475724e+03
std,2.803790e+08,1.105759e+06,7301.461953,7.114677e+04,8.358302e+04,0.0,5.854551e+04,3.884344e+04
min,4.026690e+05,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
25%,2.853171e+08,5.300000e+01,0.000000,0.000000e+00,3.000000e+00,0.0,0.000000e+00,0.000000e+00
50%,4.983964e+08,5.822500e+03,42.000000,5.000000e+01,3.470000e+02,0.0,1.445000e+02,2.600000e+01
75%,7.109981e+08,1.499690e+05,442.250000,3.584000e+03,1.196200e+04,0.0,5.171250e+03,7.000000e+02
max,9.684996e+08,1.848762e+07,242911.000000,1.431774e+06,1.505144e+06,0.0,1.008362e+06,1.282043e+06

In [8]:
vresult.head()

,timestamp,aid,view,reply,coin,like,dislike,favorite,danmaku
0,2020-06-04 01:39:25,200845576,37,3,10,8,0,7,0
1,2020-06-04 01:39:25,243404198,9,0,0,0,0,0,0
2,2020-06-04 01:39:26,285906134,8,0,0,1,0,0,0
3,2020-06-04 01:39:26,328487363,47607,305,2385,4402,0,1905,89
4,2020-06-04 01:39:26,413418731,1,0,0,0,0,0,0